# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# 虚拟环境
venv/
env/
.venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# 项目输出
output/

# 可选:忽略所有测试用的 PNG(如果你不想把照片提交到 Git)
# *.png
# *.PNG
# !docs/*.png
